.box {
  width: 20rem;
  height: 20rem;
  background-color: rgb(230, 230, 239);
  display: flex;
  flex-direction: column;   /* stack number + button vertically */
  align-items: center;      /* center horizontally */
  position: relative;       /* allows absolute positioning inside */
  color: white;
  font-size: 24px;
  font-weight: bold;
}

button {
  position: absolute;
  /*top: 75%;                 /* 3/4 down the box */
  /*transform: translateY(-50%);  adjust so it's centered on that line */
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  color: blue;
  font-weight: bold;
  margin-bottom: 25%;
}
